.header {
  border-bottom: 4px solid $second;
}
.header__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
  margin-right: 20px;
}


@media (max-width: 768px) {

  .header__wrap {
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 0;
  }
  .header__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .menu__element{
    margin-right: 20px;
  }
}
